* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.admin-dash-flex {
    position:fixed;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
.side-nav {
    background-color:  #688d8d; ;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}
.side-nav .side-nav-title {
    margin: 25% 0px;
    margin-left: 10px;
    font-size: 2.2vw;
    color: #f7f7f7;
}
.side-nav .side-nav-ul {
    list-style: none;
    margin: 0 15px;
}
.side-nav .side-nav-ul-li {
    cursor: pointer;
    color: #f7f7f7;
    padding: 15px;
    width: 15vw;
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
    border-radius: 15px;
    border: 1.5px #f7f7f7 solid ;
}
.side-nav .side-nav-ul-li:hover {
    color: black;
    border: 1.5px #000 solid ;
    background-color: #677d8d;
    transition: all .6s;
}
.side-nav .side-nav-ul-li i{
    margin-top: 5px;
    font-size: 1.2em;
}


/*ADMIN BAR RIGHT*/
.dashboard-admin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 81.2vw;
    padding: 16px 5vw;
    background-color: #8255ff;
}
.dashboard-admin-container .admin-bar-icon {
    display: none;
}
.dashboard-admin-container .search-bar .search-input {
    width: 32vw;
    font-size: 1.2vw;
    border: 1.5px black solid;
    border-radius: 999999px;
    padding: 1.5vw;
    background: none;
    transition: all .3s;
    outline: none;
}
.dashboard-admin-container .search-bar .search-input::placeholder{
    color: white;
    opacity: 1;
}
.dashboard-admin-container .search-bar .search-input:focus::placeholder{
    color: black;
}
.dashboard-admin-container .search-bar .search-input:focus {
    border: 1.5px solid white;
}
.admin-bar {
    display: flex;
    justify-content: space-around;
}
.admin-bar .settings,.notifications {
    font-size: 2vw;
    color: black;
    margin: 0 15px;
    cursor: pointer;
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 999999px;
    transition:all  .6s;
}
.admin-bar .settings:hover,.notifications:hover {
    color: white;
    border: 1.5px solid white;

}

/*START ADMIN CRUD*/
.dashboard {
    margin: 2.5vw;
    padding: .5rem;
    display: flex;
}
.dashboard-table {
    display: block;
    overflow-y: scroll;
    border-collapse: collapse;
    height: 70vh;
}
.dashboard-table thead{
    background-color: #677d8d;
}
.dashboard-table tbody{
    background-color: antiquewhite;
}
.dashboard-table td , .dashboard-table th {
    border: 1px solid #ddd;
    padding: 1vw;
} 
.dashboard-table tr:nth-child(even){
    background-color: #f2f2f2;
}
.dashboard-table tr:hover {
    background-color: #ddd;
}
.dashboard-table th {
    padding-bottom: 12px;
    text-align: left;
    background-color: #a74eff;
    color: white;
}
.dashboard-table tr .btn {
    outline: none;
    padding: .3vw;
    color: white;
    font-weight: 700;
    border: none;
    
}
.dashboard-table tr .btn-online {
    background-color: #68cf49 ;
}
.dashboard-table tr .btn-offline {
    background-color: rgb(255, 76, 76) ;
}

/*END ADMIN CRUD*/
@media only screen and (max-width: 868px) and (min-width:200px) {

    .side-nav {
        display: none;
    }

    /*ADMIN BAR RIGHT*/
    .dashboard-admin-container {
        width: 100vw;
        height: 10vh;
        padding: 40px;
    }
    .dashboard-admin-container .admin-bar-icon {
        display: block;
        cursor: pointer;
        transition: color .6s;
        margin-right: 3.5vw;
    }
    .dashboard-admin-container .admin-bar-icon:hover {
        color: white;
    }
    .dashboard-admin-container .search-bar .search-input {
        width: 100%;
        font-size: 1.2em;
        border: 1.5px black solid;
        border-radius: 999999px;
        padding: 16px;
        background: none;
        transition: border .3s;
        outline: none;
    }
    .dashboard-admin-container .search-bar .search-input::placeholder{
        color: white;
        opacity: 1;
    }
    .admin-bar .settings,.notifications {
        font-size: 1.6rem;  
        color: black;
        margin: 0 10px;
        cursor: pointer;
        padding: 10px;
        border: 1.5px solid black;
        border-radius: 999999px;
    }

    .dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0vw;
        padding: 0rem;
        padding-left: 0.1rem;
        padding-top: 1rem;
}

    .dashboard .dashboard-table{
        font-size: .8rem;
    }
}

